{% extends 'base.html'%}
{% block title %} {{header}} {% endblock %}

{% block content %}
<h1 class="title pt-5">{{header}}</h1>
<h1 class="title pt-5">Trending Birds</h1>
<form class="mb-5" method="get">
  <div class="field has-addons">
    
    <div class="control">
      <!--  Our input will search by name of artist  -->
      <input class="input" type="text" name="name" placeholder="searhc for bird" />
    </div>
    <div class="control">
      <input class="button is-success" type="submit" value="Search" />
    </div>
  </div>
  <!--  This anchor tag will redirect back to artist list without a query param -->
  <a class="button is-dark" href="{% url 'finchcoll_list' %}">Clear Search</a>
  <a class="button is-dark" href="{% url 'finchcoll_create' %}">Add Bird</a>
</form>
<div class="gallery">
  {% for finchcoll in finchcolls %}
    <div class="card">
      <a href="{% url 'finchcoll_detail' finchcoll.pk %}" >      
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{finchcoll.image}}" alt="{{finchcoll.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{finchcoll.name}}</p>
      </div>
    </a>
    </div>
 
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Finchcolls Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}