{% extends 'base.html' %} 
{% block title %} Finchcoll- Update{% endblock %}
{% block content %}

<h1 class="pt-3">Update {{finchcoll.name}}</h1>

<form action="" method="post">
  {% csrf_token %} {{form.as_p}} <input type="submit" value="Submit" />
</form>

<style>
  body,
  html {
      margin: 0;
      padding: 0;
      height: 100%;
      background: #7abecc;
      text-align: center;
  }
  h1{
font-size: 50px;
color: #11333a;
font-weight: 400;
text-align: center;

    }
    h2{
      font-size: 30px;
     color: #11333a;
     font-weight: 400;
    }
  </style>
{% endblock %}