{% extends 'base.html'%}
{% block title %} {{header}} {% endblock %}

{% block content %}
<h1 class="title pt-5"></h1>
<br>
<h1 class="title pt-5">Trending Your Collection</h1>
</br>
<form class="mb-5" method="get">
  <div class="field has-addons">
    <br>
    <div class="control">
      <!--  Our input will search by name of artist  -->
      <input class="input" type="text" name="name" placeholder="search for collection" />
    </div>
  </br>
    <div class="control">
      <input class="button is-success" type="submit" value="Search" />
    </div>
  </div>
  <!--  This anchor tag will redirect back to artist list without a query param -->
  <a class="button " href="{% url 'finchcoll_list' %}">Clear Search</a>
  <a class="button " href="{% url 'finchcoll_create' %}">Add Collection</a>
</form>
<div class="gallery">
  {% for finchcoll in finchcolls %}
    <div class="card">
      <a href="{% url 'finchcoll_detail' finchcoll.pk %}" >      
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{finchcoll.image}}" alt="{{finchcoll.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{finchcoll.name}}</p>
      </div>
    </a>
    </div>
 
	{% empty %}
  
    <div >
      <h2>No Finchcolls Available</h2>
    </div>

  {% endfor %}
</div>

<style>
  body,
  html {
      margin: 0;
      padding: 0;
      height: 100%;
      background: #7abecc;
  
  }
  h1{
font-size: 50px;
color: #11333a;
font-weight: 400;


    }
    h2{
      font-size: 30px;
     color: #5094a2;
     font-weight: 400;
    }
  </style>
{% endblock %}