{% extends 'base.html' %} 
{% block title%} Delete {{finchcoll.name}}?{% endblock %}
{% block content %}
<h1 class="title pt-5">Are you sure you want to Delete {{finchcoll.name}}?</h1>
<form method="post">
    {% csrf_token %}
    <div class="buttons">
        <input class="button is-danger" type="submit" value="Confirm" />
        <a class="button is-primary" href="{% url 'finchcoll_detail' finchcoll.pk %}">Cancel</a>
    </div>
</form>

<style>
    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: #7abecc;
        text-align: center;
    }
    h1{
  font-size: 50px;
  color: #11333a;
  font-weight: 400;
  text-align: center;

      }
      h2{
        font-size: 30px;
       color: #11333a;
       font-weight: 400;
      }
    </style>
{% endblock %}