{% extends 'base.html'%}
{% block title %} Finchcoll {% endblock %}
{% block content %}
<div class="home__playlists">
    {% for season in seasons %}

        <div class="playlist mb-5">
            <h3 class="title is-3 has-text-success">{{season.season_name}}</h3>
            <hr />

            {% for location in season.seasons.all %}

                <div class="song">
                    <span>{{forloop.counter}}</span>
                    <span><b>{{location.location_name}}</b></span>
                    <span>
                        <!--   Here we are creating an anchor
                        tag that when clicked will hit our new
                        route and send a query to remove the song     -->
                        <a href="{% url 'season_location_assoc' season.pk location.pk %}?assoc=remove" class="button is-danger is-outlined">
                        <span class="icon is-small">
                            <i class="fas fa-times"></i>
                        </span>
                        </a>
                    </span>
                </div>

            {% endfor %}
        </div>
    {% empty %} 
        <div class="playlist mb-5">"There are no collection in your finchcoll"</div>
    {% endfor %}
</div>

<style>
    body,
    html {
        margin: 0;
        padding: 0;
     
        background: #7abecc;
      
    }
    h1{
  font-size: 50px;
  color: #11333a;
  font-weight: 400;
 

      }
      h2{
        font-size: 30px;
       color: #11333a;
       font-weight: 400;
      }
    </style>
{% endblock %}